<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <rosparam file="$(find arm_model)/config/hek_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
     output="screen" ns="/hek" args="/hek/shoulder_joint_position_controller 
				     /hek/elbow_joint_position_controller 
				     /hek/wrist_pitch_joint_position_controller 
				     /hek/wrist_rot_joint_position_controller 
    				 /hek/grip_joint_position_controller
				     /hek/grip_mimic_joint_position_controller 
				     /hek/joint_state_controller 
				     --shutdown-timeout 3"/>



  <node name="gripper_publisher" pkg="arm_model" type="gripper.py">
    <remap from="R_gripper" to="hek/grip_joint_position_controller/command"/>
    <remap from="L_gripper" to="hek/grip_mimic_joint_position_controller/command"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />


</launch>
